%h3 #{data['name']}

%h3.moves Normals
%ul.moves.normal_moves
- data['moves']['normals'].each do |m|
  %li.moves.normal_move
    -# TODO add image link here
    = m

%h3.moves Specials
%ul.moves.special_moves
- data['moves']['specials'].each do |m|
  %li.move.special_move
    -# TODO add image link here
    %ul.move.special_move
      %li.move.special_move.special_move_name
        Name:
        = m['name']
      %li.move.special_move.special_move_inputs
        Inputs:
        %ul.move.special_move.special_move_inputs.inputs
          - [m['inputs']].flatten.each do |i|
            %li.move.special_move.special_move_input
              = i
      - if m['follow_ups']
        %li.move.special_move.special_move_follow_ups
          Follow-Ups:
          %ul.move.special_move.special_move_follow_ups_list
            - m['follow_ups'].each do |f|
              %li.move.special_move.special_move_name.special_move_follow_up
                Name
                = f['name']
              %li.move.special_move.special_move_input.special_move_follow_up
                Inputs:
                %ul.move.special_move.special_move_inputs.inputs
                  - [m['inputs']].flatten.each do |i|
                    %li.move.special_move.special_move_input
                      = i
      - if m['follow_up_to']
        %li.move.special_move.special_move_follow_up_to
          Follow-up to:
          %ul.move.special_move.special_move_follow_up_to_list
            - [m['follow_up_to']].flatten.each do |f|
              %li.move.special_move.special_move_follow_up_to
                = f
